p {
    color: fuchsia;
}

h2 {
    color: darkolivegreen;
    text-decoration: underline;
}



.Projects {
    color: red;
}

.Services {
    color: chocolate;
}

body {
    text-align: center;
}

ul {
    list-style: none;
}

.contact {
    color: violet;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

nav ul {
    display: flex;
    gap: 20px;

}

h1 {
    color: aqua;
}

span {
    color: dodgerblue;
}

a {
    color: goldenrod
}


main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

main section {
    flex: 1;
    min-width: 300px;
    border: 2px solid black;
    padding: 50px;
}