p {
    color: fuchsia;
}

h2 {
    color: darkolivegreen;
    text-decoration: underline;
}



.Projects {
    color: red;
}

.Services {
    color: chocolate;
}

body {
    text-align: center;
}

ul {
    list-style: none;
}

.contact {
    color: violet;
}